.blog-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    padding: 20px;
    margin-top: 100px;
}

@media screen and (min-width: 770px) {

}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1280px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 50px;
}

.blog__orange-line {
    background-color: var(--orange);
    height: 4px;
    width: 15%;
    margin-top: 5px;
    margin-bottom: 15px;
    margin: 5px auto 15px;
}

.blog span {
    color: var(--orange);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (min-width: 770px) {
    .blog span {
        margin-bottom: 30px;
    }
}

.blog h2 {
    font-size: 38px;
    font-weight: 600;
    color: var(--brown);
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media screen and (min-width: 770px) {
    .blog h2 {
        font-size: 50px;
    }
}

.blog p {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

/* Carousel */

.blog__carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
}

@media screen and (min-width: 770px) {
    .blog__carousel {
        flex-direction: row;
    }
}

.blog__carousel-item {
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 27px;
    margin-bottom: 50px;
}

.blog__carousel-item img {
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog__carousel-item span {
    color: var(--orange);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.blog__carousel-item h6 {
    color: var(--brown);
    font-size: 22px;
    margin-bottom: 20px;
}

.blog__carousel-item p {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}

.blog-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 50%;
    color: var(--background-color);
    cursor: pointer;
    text-align: center;
    font-weight: 200;
    opacity: .8;
    position: absolute;
    height: 23px;
    width: 23px;
    bottom: 50%;
}

.blog-btn:hover {
    background-color: var(--dark-orange);
}

.blog-btn-forward {
    left: -13px;
}

.blog-btn-backward {
    right: -13px;
}

.blog__carousel-item {
    display: none;
}

#blog__carousel-item1 {
    display: flex;
}

/* Active */

