/* Vasyl */

.clients_feedback {
    background-image: url(../img/background_clients_feedback_section.png);
}
.clients_feedback_header {
    text-align: center;
}
.clients_feedback_header_small {
    text-align: center;
    color: #f7d832;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 60px;
    font-family: Open Sans, sans-serif;
}
.clients_feedback_header_large {
    text-align: center;
    color: #ffffff;
    font-size: 38px;
    margin: auto;
    font-family: Open Sans, sans-serif;
}
.clients_feedback_header_line {
    color: #f7d832;
    height: 2px;
    width: 60px;
    margin-right: center;
    margin-left: 48%;
    background-color: #f7d832;
}
.clients_feedback_header_text {
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    margin: auto;
    overflow-wrap: break-word;
}
.clients_feedback_places {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
}
@media screen and (min-width: 680px) {
.clients_feedback_places {
    position: relative;
    display: flex;
}    
}
.clients {
    margin: 20px;
    background-image: url(../img/backgrount_for_clients.png);
}

@media screen and (min-width: 680px) {
    .clients {
        max-width: 50%;
        text-align: center;
        margin: auto;
        background-image: url(../img/backgrount_for_clients.png);
    }
}

.client_photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 150px !important;
    height: 150px !important;
}
.client_name {
    text-align: center;
    color: #f7d832;
    font-style: normal;
    font-size: 25px;
    margin-top: 20px;
    font-family: Open Sans, sans-serif
}
.client_feedback {
    text-align: center;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    font-style: italic;
}
.date {
    text-align: center;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
.date {
    color: #ffffff;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
}
.info_statistic {
    background-image: url(../img/background_for_info_statistic.png);
    display: block;
    margin-top: 0px;
    margin-left: 0px;
}
@media screen and (min-width: 680px) {
.info_statistic {
    background-image: url(../img/background_for_info_statistic.png);
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
}
}
.info_element {
    display: block;
    margin: auto;
}
.info_heading {
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 40px;
    color: #eb6d2f;
    margin: auto;
}
.broun_line {
    color: #663b36;
    width: 50px;
    border-bottom: 4px #663b36 solid;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info_text {
    text-align: center;
    font: inherit;
    font-size: 16px;
    font-weight: bold;
    color: #413939;
    margin: auto;
    margin-bottom: 10px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0,0,8);
}
.bottom-buttons {
    display: block;
    margin: auto;
    text-align: center;
}
.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}
.active, .dot:hover {
    background-color: #ffffff;
}
