/* Vasyl */


.feedback {
    display: block;
    font-family: Open Sans, sans-serif;
    color: #f7d832;
    font-weight: bolder;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-stretch: 100%;
    padding: 10px 25px 10px 25px;
}

.section-clients-feedback h2 {
    display: block;
    font-family: Open Sans, sans-serif;
    font-size: 40px;
    color: white;
    padding: 10px 5px 10px 5px;
}

#strip-for-clients {
    display: block;
    width: 60px;
    border-bottom: 4px #f7d832 solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
