.faq{
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #faf4f0;
}

.section__faq{
    color:#eb6d2f;
}

.section__qestion{
    color: #5a3733;
}

.accordion__item__1__header{
    color: #5a3733; 
    font-weight:  bold;
}

.accordion__item__2__header{
    color: #5a3733; 
    font-weight:  bold;
}

.accordion__item__3__header{
    color: #5a3733; 
    font-weight:  bold;
}

.accordion__item__4__header{
    color: #5a3733; 
    font-weight:  bold;
}