/* Artem */
.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-width: 320px;
    padding: 0 20px;
    margin: 50px auto;
}

@media screen and (min-width: 780px) {
    .faq {
        flex-direction: row;
    }
}

.text__over__accordion {
    margin-bottom: 40px;
}

.faq-img img {
    width: 95%;
    margin: 0 auto;
}

.text__over__accordion span {
    color: var(--orange);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.text__over__accordion h2 {
    color: var(--brown);
    font-size: 38px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text__over__accordion__orange-line {
    background-color: var(--orange);
    height: 4px;
    width: 15%;
    margin-bottom: 15px;
}

.text__over__accordion p {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 25px;
}

/* Accordion */

.acordion-items {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accordion-bottom-line {
    border-bottom: 1px solid #5a373333;
    
}

.accordion h6 {
    color: var(--brown);
    font-size: 20px;
    margin-bottom: 25px;
}

.accordion p {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    width: 90%;
}