/* Ivan */
.footer {
    font-family: Open Sans, sans-serif;
    background-image: url(../img/footer-bg-img.webp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer__logo-container img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.footer__logo-container span {
    color: var(--gray);
    font-weight: 500;
}

.footer__nav-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}

.footer__nav-menu li {
    list-style: none;
    text-align: center;
}

.footer__nav-menu a {
   color: var(--brown);
   font-weight: 500;
}

.footer__nav-menu a:hover {
    color: var(--orange);
    transition: 0.2s;
}

.footer__socials a {
    font-size: 36px;
    color: var(--orange);
    padding: 0 5px;
}

.footer__socials a:hover {
    color: var(--dark-orange);
    transition: 0.2s;
}

.footer__rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.footer__rights span {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #413939;
    text-align: center;
}

.footer__rights span a {
    font-weight: 500;
}

.footer__rights span a:hover {
    color: var(--dark-orange);
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}