/* Ivan */

.header {
    min-height: 100vh;
    background-image: url(../img/header-banner.jpeg);
    background-size: cover;
    background-position: 35% 50%;
}

.header__nav-container {
    width: 100vw;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    margin: 0 auto;
    width: 100vw;
}

.header__nav-logo img {
    margin: 25px 20px;
    width: 200px;
}

.header__nav-menu {
    justify-content: center;
    align-items: center;
}

.header__nav-menu a {
    color: var(--brown);
    justify-content: center;
    font-size: 14px;
    padding: 10px;
}

.header__banner {
    display: flex;
    align-items: center;
    min-height: 400px;
}

.header__banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 15px;
}

.header__banner span {
    color: var(--orange);
    font-size: 14px;
}

.header__banner h1 {
    color: var(--brown);
    font-size: 62px;
    text-transform: uppercase;
}

.header__banner p {
    color: var(--main-text-color);
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.header__nav-btn {
    background-color: transparent;
    border: 3px solid var( --orange);
    border-radius: 5px;
    color: var( --brown);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    width: 50px;
    line-height: 25px;
}

.header__banner-btn {
    background-color: var( --orange);
    border: none;
    border-radius: 10px;
    color: var( --white);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
    height: 55px;
    margin-top: 15px;
}

@media (min-width: 400px) {
    .header {
        background-position: 50% 50%;
    }
}

@media (min-width: 600px) {
    .header {
        background-position: cover;
    }
}