/* Ivan */

.header {
    min-height: 100vh;
    min-width: 300px;
    background-image: url(../img/header-banner.jpeg);
    background-size: cover;
    background-position: 25% 50%;
}

.header__nav-container {
    width: 100vw;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100vw;
}

.header__nav * {
    margin: 0 7px;
}

.header__nav-logo img {
    margin: 25px 30px;
    width: 200px;
}

.header__nav-menu {
    justify-content: center;
    align-items: center;
}

.header__nav-menu a {
    color: var(--brown);
    justify-content: center;
    font-size: 14px;
}

.header__nav-menu a:hover {
    color: var(--orange);
    transition: 0.3s;
}

.header__nav-btn {
    background-color: transparent;
    border: 2px solid var(--orange);
    border-radius: 5px;
    color: var(--brown);
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    line-height: 25px;
}

.header__nav-btn:hover {
    background-color: var(--orange);
    color: var(--white);
    transition: 0.2s;
}

.header__banner {
    display: flex;
    align-items: center;
    min-height: 400px;
}

.header__banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 100px;
    margin-left: 35px;
}

.header__banner span {
    color: var(--orange);
    font-size: 14px;
    margin-left: 5px;
}

.header__banner h1 {
    color: var(--brown);
    font-size: 62px;
    text-transform: uppercase;
    margin-top: 15px;
}

.orange-line {
    background-color: var(--orange);
    height: 4px;
    width: 10%;
    margin: 10px 0 15px;
}

.header__banner p {
    color: var(--main-text-color);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    width: 300px;
    line-height: 30px;
    margin-top: 15px;
}

.header__banner-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
    height: 55px;
    margin-top: 25px;
}

.header__banner-btn:hover {
    background-color: var(--yellow);
    transition: 0.5s;
    cursor: pointer;
}

@media (min-width: 400px) {
    .header {
        background-position: 38% 50%;
    }
}

@media (min-width: 500px) {
    .header {
        background-position: 35% 50%;
    }
}

@media (min-width: 600px) {
    .header {
        background-position: 50% 50%;
    }
    .header__banner p {
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    .header {
        background-position: cover;
    }
    .header__banner-container {
        margin-top: 130px;
    }
    .header__banner span {
        font-size: 16px;
    }
    .header__banner h1 {
        font-size: 84px;
    }
    .header__banner p {
        font-size: 22px;
        width: 500px;
    }
}