.header__nav {
    display: flex;
    width: 100%;
}

.header__nav-logo img {
    width: 200px;
}

.header__nav-menu {
    justify-content: flex-end;
}

.header__nav-menu a {
    color: var(--brown);
    font-size: 14px;
}

.header__banner span {
    background-image: url(../img/header-banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--orange);
    font-size: 14px;
}

.header__banner h1 {
    color: var(--brown);
    font-size: 110px;
}

.header__banner p {
    font-family: Open Sans, sans-serif;
    color: var(--main-text);
    font-size: 18px;
}