.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_honey-carousel {
    display: flex;
    justify-content: center;
}

.our_honey-carousel__slide {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 500px;
	grid-template-columns: 1fr;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 8px;
}

.our_honey-show__card {
    display: flex;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

.slide {
    width: 100%;
    margin-bottom: 10px;
    position: center;
}

.our_honey-carousel__button {
    display: flex;
    font-size: 50px;
    border: none;
    cursor: pointer;
    }

.our_honey-carousel__button.back {
    left: 8px;
    }

.our_honey-carousel__button.forward {
    right: 8px;
    }

.our_honey-button {
    cursor: pointer;
    }

.back{
    margin-left: 10px;
    margin-right: 0px;
    font-size: 35px;
    background-color: #f9f3ee;
    color: #836763;
}
.forward{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 35px;
    background-color: #f9f3ee;
    color: #836763;
}
