/* Розставити пробіли перед перед усіма відкриваючими фігурними дужками. Розтавити пусті рядки після кожної закриваючої фігурної дужки. Видалити зайві таби. Надати значення у рядку 8 та закрити атрибут крапкою з комою. Не залишати пусті селектори як у рядку 14*/
.types_of_honey_section{
    background-color: #f9f3ee;
}
    .types_of_honey{
        text-align: left;
        color: #eb6d2f;
        font-family:
    }
    .subtypes_of_honey{
        text-align: left;
        color:#5a3733;  
    }
    .tab_content{
    
    }    