.types-of-honey-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 780px) {
    .types-of-honey-container {
        flex-direction: row;
    }
}

.types-of-honey {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (min-width: 780px) {
    .types-of-honey {
        min-width: 30%;
    }
}

.types-of-honey__orange-text {
    color: var(--orange);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.types-of-honey h2 {
    color: var(--brown);
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
}

@media screen and (min-width: 780px) {
    .types-of-honey h2 {
        font-size: 50px;
    }
}

.types-of-honey__orange-line {
    background-color: var(--orange);
    height: 4px;
    width: 15%;
    margin-bottom: 15px;
}

.types-of-honey p {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 25px;
}

.types-of-honey__list ul {
    list-style: none;
}

.types-of-honey__list li {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.types-of-honey__list img {
    width: 20px;
}

.types-of-honey__list span {
    color: var(--black);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}

/* Carousel */

.tab-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (min-width: 770px) {
    .tab-content {
        flex-direction: row;
    }
}

.honey-show__card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    width: 95%;
    min-height: 350px;
    margin: 0 auto 25px;
}

.honey-show__card img {
    width: 15%;
    margin: 25px auto;
}

.honey-show__card h3 {
    color: var(--brown);
    font-size: 22px;
    margin-bottom: 25px;
}

.honey-show__card p {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 85%;
}

.honey-show__card button {
    background-color: var(--orange);
    border: none;
    border-radius: 7px;
    color: var(--white);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 45px;
    position: absolute;
    bottom: 30px;
    width: 120px;
}

/* Buttons  */

.types-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 50%;
    color: var(--background-color);
    cursor: pointer;
    text-align: center;
    font-weight: 200;
    opacity: .8;
    position: absolute;
    height: 23px;
    width: 23px;
    bottom: 50%;
}

.types-btn:hover {
    background-color: var(--dark-orange);
}

.types-btn-forward {
    left: -13px;
}

.types-btn-backward {
    right: -13px;
}

.types__carousel-item {
    display: none;
}