.what_we_do_content{
    display: flex;
    justify-content: center;
}
.what_we_do_carousel_slide {
    display: flex;
    margin: 10px auto;
}
.what_we_do-carousel-container{
    display: flex;
}
.what_we_do_content_card_wrapper{
    margin: 10px;
    width: 100%;
}
.what_we_do-carousel__button.back, .forward{
    border: none;
    background-color: transparent;
}
.what_we_do-carousel__button{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.back, .forward{
    font-size: 50px;
    background-color: var(--background-color);
    color: var(--brown);
}

.back{
    margin-left: 10px;
    margin-right: 0px;
}
.forward{
    margin-right: 10px;
}

